<h1><%= @project.name %></h1>

<%= link_to "Edit", edit_project_path(@project) %>

<%= button_to "Delete", @project, method: :delete, data: {confirm: "There is no recovery for projects thrown into the ether. Are you sure you would like to delete your project?"} %>

