<h1>Welcome to The Build!</h1>

<p>The Build is currently undergoing foundational work, but we are working towards creating an inclusive, fun and educational space for makers of all disciplines. If you are looking for a tutorial, video, forum or one-on-one help, we want to be the first place you look.</p>
<br />
<p>We love having you here! Please look forward to some upcoming features, like forums, video chat, repository of patterns, plans and tutorials, and even more!</p>