<h1>Welcome to The Build</h1>
<br>
<br>
<p>The Build is a place to connect with makers and keep track of projects. So far, we have an exceptional community of makers including, but not limited to, Barack Obama, The Doctor, Winston Churchill and The Entire Cast of Riverdale! We hope you enjoy looking around, and we hope to see you in the future as we continue to build this community.<p>
<br>
<br>
<%= link_to "See all Projects", projects_path %> | <%= link_to "Create a Profile", new_user_path %> | <%= link_to "Log In", login_path %>